---
import ContentSection from "$lib/components/content-section.astro";
import ShowcaseCard from "$lib/components/showcase-card.astro";
import { Icon } from "astro-icon";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
const sample = sites.slice(0, 6);
---

<ContentSection title="Showcase" id="showcase">
  <Fragment slot="lead">
    Explore my work, my art, my passion. From enterprise tools to personal projects,
    I love to build things. Let me do it for you.
  </Fragment>
  <a target="_blank"
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href="https://github.com/EmilienKopp"
    >
      <span class="sr-only">"View GitHub"</span>
      <Icon class="h-full" name="fa-brands:github" />
    </a>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {sample.map((site) => <ShowcaseCard site={site} />)}
    </div>
    
    {sites.length > 6 && (
      <p class="text-right text-sm">
        <a class="text-primary" href="https://astro.build/showcase/">
          ...and more &rarr;
        </a>
      </p>
    )}
    
  </div>
</ContentSection>
